* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0;
}

.mainProfile {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-wrap: wrap;
}
.profile {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  margin: 2px;
  padding: 10px;
}

@media screen and (max-width: 1024px) {
  .mainProfile {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 868px) {
  .mainProfile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 550px) {
  .mainProfile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
  }
}
